<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MEAN</title>
</head>
<body ng-app="MeuModulo" ng-controller="MeuController">
	<h1>Rodolfo Drogado!</h1>
	<input type="text" ng-model="texto">{{texto}}{{titulo}}
	<br>
	<br>


	As vingadoras:<br>
	<ul>
		<li ng-repeat="vingador in vingadora"> {{vingador}}</li>
	</ul>
	<input type="text" ng-model="filtro">
	<ul>
		<li ng-repeat="vingador in vingadora | filter:filtro">{{vingador}}</li>
	</ul> <br><br>


	<ul>
		<li ng-repeat="vingador in vingadores | filter:filtro" ng-show="vingador.visivel"> {{vingador.nome}}</li>
	</ul>


	<input type="text" ng-model="vingador.nome">
	<button ng-click="minhaFuncao(vingador)">Adicionar Vingador</button>


	<div ng-view></div>


	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script>
		angular.module('MeuModulo',['ng-route']).config(function($routeProvider){
			$routeProvider.when('/',{
				controller:'MeuController',
				template:'<h1> minha rota</h1>'
			});
		});
		angular.module('MeuModulo',[]);
		angular.module('MeuModulo').controller('MeuController', function($scope){
			$scope.titulo = "titulo";
			$scope.vingadora = ['Lucas','Rodolfo','Danilin','Micael','Henri'];
			$scope.vingadores = [
				{nome:"Viúva Negra", visivel:true},
				{nome:"Hulk", visivel:true},
				{nome:"Capitão america", visivel:true},
				{nome:"Homem de ferro", visivel:true},
				{nome:"Gavião arqueiro", visivel:true},
				{nome:"Homem aranha", visivel:false},
			];
			$scope.minhaFuncao = function(nome){
				nome.visivel = true;
				$scope.vingadores.push(angular.copy(nome));
			}

		});
	</script>
</body>
</html>